@use 'base';

#all-container {
	background-color: map-get($map: base.$colours, $key: "background");
	grid-column: 8/14;
}

#guest-btn {
	background-color: map-get($map: base.$colours, $key: "guest-btn-bg");
}

#all-players {
	min-height: 100vh;
}
