@use 'sass:color';
@use 'base';

#add-guest {
	background-color: map-get($map: base.$colours, $key: "options-bg");
	display: flex;
	flex-direction: column;
	align-items: center;
	div {
		margin-top: 4em;
		margin-bottom: 4em;
	}
	label {
		display: block;
		font-size: 1.3em;
	}
	form {
		text-align: center;
	}
	input {
		font-size: 1.3em;
		max-width: 90vw;
		&:focus {
			outline: 3px solid color.adjust(map-get($map: base.$colours, $key: "options-bg"), $lightness: -25%);
			outline-offset: -1px;
		}
	}
}

#back-guest-btn {
	position: absolute;
	bottom: 0;
}
