@use "sass:color";
@use "base";

#players-in-play-number {
    grid-column: 10/12;
    margin-top: 3rem;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.number-btn {
    background-color: map-get($map: base.$colours, $key: "number-btn-bg");
    font-size: 1.5rem;
    width: 2rem;
    margin: 0.6rem;
    &:disabled {
        background-color: color.adjust(map-get($map: base.$colours, $key: "number-btn-bg"), $saturation: -50%);
    }
}

.selected-number {
    background-color: map-get($map: base.$colours, $key: "selected-number-bg");
}
