#stars {
    background-color: brown;
    grid-column: 8/14;
    width: 100%;
    position: absolute;
    top: 68vh;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}

#star-btn {
    top: 77vh;
    grid-column: 9/13;
}
